pipeline/S3 to Azure Blob.json
{
	"name": "S3 to Azure Blob",
	"properties": {
		"activities": [
			{
				"name": "S3 to Azure Blob",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": false
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "MasterAirline",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "master_faa_file",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Send Success Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "S3 to Azure Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-06.australiaeast.logic.azure.com:443/workflows/468f43a6c3cb4681b8bcaa3167ee223b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=737m0uAvZDdIjrlmY51EHkCuKEwAwbXQ7NhEHm3J4K0",
					"method": "POST",
					"headers": {
						"Content-Type": "Application/json"
					},
					"body": {
						"message": "@{activity('Copy1').output.dataWritten}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			},
			{
				"name": "Send Failure Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "S3 to Azure Blob",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "Failure URL: https://prod-05.australiaeast.logic.azure.com:443/workflows/a925863dd7ec40d59eef0dc87e80d1c3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=v48bQGk-FXRnhVUGv30zFBSlXnqpshTMyljGYntNhxM",
					"method": "POST",
					"headers": {
						"Content-Type": "Application/json"
					},
					"body": {
						"message": "@{activity('Copy1').output.dataWritten}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			},
			{
				"name": "Exec Weather to Blob",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Send Success Email",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Weather To Blob Copy",
						"type": "PipelineReference"
					}
				}
			}
		],
		"parameters": {
			"recipient": {
				"type": "String",
				"defaultValue": "boppudsara@gmail.com"
			}
		}
	}
}